<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        body {
            SCROLLBAR-ARROW-COLOR: #ffffff;
            SCROLLBAR-BASE-COLOR: #dee3f7;
        }
    </style>
</head>

<frameset rows="103,*,43" frameborder=0 border="0" framespacing="0">
    <frame th:src="@{/admintop}" name="topFrame" scrolling="NO" noresize>
    <frameset cols="159,*" frameborder="0" border="0" framespacing="0">
        <frame th:src="@{adminleft}" name="leftFrame" noresize scrolling="YES">
        <frame th:src="@{adminwelcome}" name="mainFrame">
    </frameset>
    <frame th:src="@{/adminbottom}" name="bottomFrame" scrolling="NO" noresize>
</frameset>
</html>
