<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{assets/css/Style1.css}" rel="stylesheet" type="text/css"/>
    <script language="javascript" th:src="@{assets/js/public.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript">

    </script>
</HEAD>
<body>
<br>
<form id="Form1" name="Form1" action="${pageContext.request.contextPath}/user/list.jsp" method="post">
    <table cellSpacing="1" cellPadding="0" width="100%" align="center" bgColor="#f5fafe" border="0">
        <TBODY>
        <tr>
            <td class="ta_01" align="center" bgColor="#afd1f3" colspan="2">
                <strong th:text="${state}==0?'待出租列表':(${state}==2?'已预定列表':'已完成列表')"></strong>
                <input type="hidden" id="url" th:value="${pagemodel.url}">
            </TD>
        </tr>
        <div style="color:#f00" align="center">[[${message}]]</div>
        <tr>
            <td class="ta_01" align="left" colspan="2">
                房间ID:<input type="text" name="bid" id="bid" placeholder="房间ID" th:value="${vo}ne null?${vo.bid}:''">
                房屋位置关键字：<input type="text" name="location" id="location" placeholder="位置"
                               th:value="${vo}ne null?${vo.location}:''">
                种类：<select id="livetype" name="livetype">
                <option value="-1" id="t-1">种类不限</option>
                <option value="0" id="t0" th:selected="${vo}ne null?${vo.livetype}==0:''">整租</option>
                <option value="1" id="t1" th:selected="${vo}ne null?${vo.livetype}==1:''">合租</option>
            </select>
                价格：<select name="much" id="much">
                <option value="-1" id="m-1">价格不限</option>
                <option value="1900" id="m1900" th:selected="${vo}ne null?${vo.much==1900}:''">1900以下/月</option>
                <option value="2500" id="m2500" th:selected="${vo}ne null?${vo.much==2500}:''">1900-2500/月</option>
                <option value="4000" id="m4000" th:selected="${vo}ne null?${vo.much==4000}:''">2500-4000/月</option>
                <option value="4800" id="m4800" th:selected="${vo}ne null?${vo.much==4800}:''">4000-4800/月</option>
                <option value="4801" id="m4801" th:selected="${vo}ne null?${vo.much==4801}:''">4800以上/月</option>
            </select>
                <button type="button" id="search" name="search" value="查找" onclick="search1()">
                    查找
                </button>
                <button type="button" id="overtime" name="overtime" value="查找已延期的订单" onclick="overtime1()" th:if="${state}ne 0">
                    查找已延期的订单
                </button>
                <button type="button" id="clear" name="clear" value="清除已延期的订单" onclick="clear1()" th:if="${state}ne 0">
                    清除当前所有延期订单
                </button>
            </td>
        </tr>
        <tr colspan="2">
            <td class="ta_01" align="center" bgColor="#f5fafe">
                <table cellspacing="0" cellpadding="1" rules="all"
                       bordercolor="gray" border="1" id="DataGrid1"
                       style="BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; WIDTH: 100%; WORD-BREAK: break-all; BORDER-BOTTOM: gray 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f5fafe; WORD-WRAP: break-word">
                    <tr
                            style="FONT-WEIGHT: bold; FONT-SIZE: 12pt; HEIGHT: 25px; BACKGROUND-COLOR: #afd1f3">

                        <td align="center" width="6%">
                            序号
                        </td>
                        <td align="center" width="10%">
                            房屋ID
                        </td>
                        <td align="center" width="10%">
                            房间ID
                        </td>
                        <td align="center" width="13%">
                            房屋位置
                        </td>
                        <td align="center" width="13%">
                            预览图
                        </td>
                        <td align="center" width="10%">
                            房屋价格
                        </td>
                        <td align="center" width="10%">
                            屋主id
                        </td>
                        <td align="center" width="8%">
                            屋主姓名
                        </td>
                        <td align="center" width="5%">
                            房屋状态
                        </td>
                        <td align="center" width="10%" th:if="${vo.state}ne 0">
                            过期时间
                        </td>
                        <td align="center">
                            编辑
                        </td>
                    </tr>
                    <tr onmouseover="this.style.backgroundColor = 'white'"
                        onmouseout="this.style.backgroundColor = '#F5FAFE';" th
                        th:each="order,status:${pagemodel.list}">
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="6%">
                            [[${status.count}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="10%">
                            [[${order.houses.hid}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="10%">
                            [[${order.bid}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="13%">
                            [[${order.houses.location}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="13%">
                            <img width="40" height="45" th:src="'/House'+${order.houses.images}+'1.jpg'">
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="10%">
                            [[${order.price}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="10%" th:text="${order.user}ne null?${order.user.uid}:'无'">
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="8%" th:text="${order.user}ne null?${order.user.username}:'无'">
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="5%" th:text="${order.state}==0?'待出租':(${order.state}==2?'已预定':'已租出')">
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="10%" th:text="${#dates.format(order.latedate,'yyyy-MM-dd HH:mm:ss')}" th:if="${vo.state}ne 0">
                        </td>
                        <td align="center" style="HEIGHT: 22px">
                            <a th:href="@{orderadmin_edit&bid=}+${order.bid}+'&page='+${page}">
                                <img th:src="@{assets/images/admin/img/admin/i_edit.gif}" border="0"
                                     style="CURSOR: hand">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </TBODY>
    </table>
</form>
<div th:if="${pagemodel.list}eq null">
    <br/><br/><br/><br/>
    <p style="text-align: center;color: red;font-size: xx-large">没有符合的房屋</p>
</div>
<div style="text-align:center" th:if="${pagemodel.list}ne null">
    第[[${pagemodel.currentPageNum}]]页/共[[${pagemodel.totalPageNum}]]页

    <a th:href="@{${pagemodel.url}+'1'}">首页</a>
    <a th:href="@{${pagemodel.url}+${pagemodel.prePageNum}}">上一页</a>
    <a th:href="${pagemodel.url}+${n}" th:each="n:${#numbers.sequence(pagemodel.startPage,pagemodel.endPage)}">[[${n}]]&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a th:href="@{${pagemodel.url}+${pagemodel.nextPageNum}}">下一页</a>
    <a th:href="@{${pagemodel.url}+${pagemodel.totalPageNum}}">末页</a>
    <input type="text" id="pagenum" name="pagenum" size="1"/><input type="button" value="前往" onclick="jump()"/>
</div>
</body>
<script src="assets/js/jquery-1.11.0.js" th:src="@{/assets/js/jquery-1.11.0.js}"></script>
<script src="assets/js/jquery-1.11.0.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script>
    function jump() {
        var totalpage = [[${pagemodel.totalPageNum}]];
        var pagenum = document.getElementById("pagenum").value;
        //判断输入的是一个数字
        var reg = /^[1-9][0-9]{0,1}$/;
        if (!reg.test(pagenum)) {
            //不是一个有效数字
            alert("请输入符合规定的数字");
            return;
        }
        //判断输入的数字不能大于总页数
        if (parseInt(pagenum) > parseInt(totalpage)) {
            //超过了总页数
            alert("不能大于总页数");
            return;
        }
        //转向分页显示的Servlet
        // alert(pagenum);
        var url = $("#url").val();
        window.location.href = "/House/" + url + pagenum;
    }
</script>
<script>
    function search1() {
        var bid = $("#bid").val();
        var location1 = $("#location").val();
        var livetype = $("#livetype").val();
        var much = $("#much").val();
        window.location.href = "/House/adminfindbednumber&state=" + [[${vo.state}]] + "&bid=" + bid + "&location=" + location1 + "&livetype=" + livetype + "&much=" + much + "&page=" + [[${pagemodel.currentPageNum}]];
    }
    function overtime1() {
        window.location.href = "/House/adminfindovertime&state=" + [[${vo.state}]] + "&page=" + [[${pagemodel.currentPageNum}]];
    }
    function clear1() {
        window.location.href = "/House/adminClear&state=" + [[${vo.state}]];
    }
</script>
</HTML>

