<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <LINK th:href="@{assets/css/Style1.css}" type="text/css" rel="stylesheet">
</HEAD>

<body>
<!--  -->
<form id="userAction_save_do" name="Form1" th:action="@{/adminaddbed}" method="post" onsubmit="return sub()">
    &nbsp;
    <div style="color:#f00" align="center">[[${message}]]</div>
    <table cellSpacing="1" cellPadding="5" width="100%" align="center" bgColor="#eeeeee"
           style="border: 1px solid #8ba7e3" border="0">
        <tr>
            <td class="ta_01" align="center" bgColor="#afd1f3" colSpan="4"
                height="26">
                <STRONG>添加房屋</STRONG>
            </td>
        </tr>

        <tr>
            <td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
                房屋位置：
            </td>
            <td class="ta_01" bgColor="#ffffff">
                <input type="text" name="location" id="location" class="bg"
                       th:value="${house} ne null?${house.location}:''"/>
                <span id="location_message" style="color:red;"></span>
            </td>
            <td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
                房屋类型：
            </td>
            <td class="ta_01" bgColor="#ffffff">

                <select name="roomtype">
                    <option value="一室一厅" th:selected="${house}ne null?${house.roomtype}=='一室一厅'">一室一厅</option>
                    <option value="两室一厅" th:selected="${house}ne null?${house.roomtype}=='两室一厅'">两室一厅</option>
                    <option value="三室一厅" th:selected="${house}ne null?${house.roomtype}=='三室一厅'">三室一厅</option>
                    <option value="四室一厅" th:selected="${house}ne null?${house.roomtype}=='四室一厅'">四室一厅</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
                价格：
            </td>
            <td class="ta_01" bgColor="#ffffff">
                <input type="number" name="price" id="price" th:value="${bednumber}ne null?${bednumber.price}:''"
                       class="bg"/>
                <span id="price_message" style="color:red;"></span>
            </td>
            <td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
                大小：
            </td>
            <td class="ta_01" bgColor="#ffffff">
                <input type="number" name="area" id="area" class="bg"
                       th:value="${bednumber}ne null?${bednumber.area}:''"/>
                <span id="area_message" style="color:red;"></span>
            </td>
        </tr>
        <tr>
            <td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
                图片地址：
            </td>
            <td class="ta_01" bgColor="#ffffff">
                <input type="text" name="images" id="images" th:value="${house}?${house.images}:''"/>
                <span id="images_message" style="color:red;"></span>
            </td>
            <td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
                楼层：
            </td>
            <td class="ta_01" bgColor="#ffffff">
                <input type="number" name="high" id="high" th:value="${house}?${house.high}:''"/>
                <span id="high_message" style="color:red;"></span>
            </td>
        </tr>
        <tr>
            <td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
                是否有阳台：
            </td>
            <td class="ta_01" bgColor="#ffffff">
                有<input name="sun" type="radio" value="1" th:checked="${bednumber}ne null?${bednumber.sun}==1"/>
                无<input name="sun" type="radio" value="0" checked/>
            </td>
            <td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
                房间号：
            </td>
            <td class="ta_01" bgColor="#ffffff">
                <input type="number" name="number" id="bedlocation" th:value="${bednumber}?${bednumber.number}:''"/>
                <span id="bedlocation_message" style="color:red;"></span>
            </td>
        </tr>
        <tr>
            <td width="18%" align="center" bgColor="#f5fafe" class="ta_01">
                居住类型：
            </td>
            <td class="ta_01" bgColor="#ffffff" colspan="3">
                <select name="livetype">
                    <option value="0" th:selected="${house}ne null?${house.livetype}==0">整租</option>
                    <option value="1" th:selected="${house}ne null?${house.livetype}==1">合租</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="ta_01" style="WIDTH: 100%" align="center"
                bgColor="#f5fafe" colSpan="4">
                <button type="submit" id="userAction_save_do_submit" value="确定" class="button_ok">
                    &#30830;&#23450;
                </button>

                <FONT face="宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT>
                <button type="reset" value="重置" class="button_cancel">&#37325;&#32622;</button>

                <FONT face="宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT>
                <INPUT class="button_ok" type="button" onclick="history.go(-1)" value="返回"/>
                <span id="Label1"></span>
            </td>
        </tr>
    </table>
</form>
</body>
<script src="assets/js/jquery-1.11.0.js" th:src="@{/assets/js/jquery-1.11.0.js}"></script>
<script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script>
    function checkbedlocation() {
        var bedlocation = document.getElementById("bedlocation").value;
        if (bedlocation.length == 0) {
            document.getElementById("bedlocation_message").innerHTML = "<br/>房间号不能为空";
            return false;
        } else {
            document.getElementById("bedlocation_message").innerHTML = "";
            return true;
        }
    }

    function checklocation() {
        var location = document.getElementById("location").value;
        if (location.length == 0) {
            document.getElementById("location_message").innerHTML = "<br/>请输入房屋地址";
            return false;
        } else {
            document.getElementById("location_message").innerHTML = "";
            return true;
        }
    }

    function checkbedhigh() {
        var high = document.getElementById("high").value;
        if (high.length == 0) {
            document.getElementById("high_message").innerHTML = "<br/>请输入楼层";
            return false;
        } else {
            document.getElementById("high_message").innerHTML = "";
            return true;
        }
    }

    function checkbedimages() {
        var images = document.getElementById("images").value;
        if (images.length == 0) {
            document.getElementById("images_message").innerHTML = "<br/>请输入图片相对路径";
            return false;
        } else {
            document.getElementById("images_message").innerHTML = "";
            return true;
        }
    }

    function checkbedarea() {
        var area = document.getElementById("area").value;
        if (area.length == 0) {
            document.getElementById("area_message").innerHTML = "<br/>请输入面积";
            return false;
        } else {
            document.getElementById("area_message").innerHTML = "";
            return true;
        }
    }

    function checkbedprice() {
        var price = document.getElementById("price").value;
        if (price.length == 0) {
            document.getElementById("price_message").innerHTML = "<br/>请输入价格";
            return false;
        } else {
            document.getElementById("price_message").innerHTML = "";
            return true;
        }
    }

    function sub() {
        if (checkbedarea() && checkbedhigh() && checkbedimages() && checkbedlocation() && checkbedprice() && checklocation()) {
            return true;
        } else {
            return false;
        }
    }
</script>
</HTML>