<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{assets/css/Style1.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{assets/js/public.js}"></script>
</HEAD>
<body>
<br>
<form id="Form1" name="Form1" th:action="@{/house/list}" method="post">
    <table cellSpacing="1" cellPadding="0" width="100%" align="center" bgColor="#f5fafe" border="0">
        <TBODY>
        <tr>
            <td class="ta_01" colspan="2" align="center" bgColor="#afd1f3">
                <strong>房屋列表</strong>
            </td>
        </tr>
        <div style="color:#f00" align="center">[[${message}]]</div>
        <tr>
            <td class="ta_01" align="left">
                房屋ID:<input type="text" name="hid" id="hid" placeholder="房屋ID" th:value="${vo}ne null?${vo.hid}:''">
                房屋位置关键字：<input type="text" name="location" id="location" placeholder="位置"
                               th:value="${vo}ne null?${vo.location}:''">
                状态：<select name="state" id="state">
                <option value="-1">不限</option>
                <option value="0" th:selected="${vo}ne null?${vo.state}=='0':''">未出租</option>
                <option value="2" th:selected="${vo}ne null?${vo.state}=='2':''">已预定</option>
                <option value="1" th:selected="${vo}ne null?${vo.state}=='1':''">已租出</option>
            </select>
                价格：<select name="much" id="much">
                <option value="-1" id="m-1">价格不限</option>
                <option value="1900" id="m1900" th:selected="${vo}ne null?${much==1900}:''">1900以下/月</option>
                <option value="2500" id="m2500" th:selected="${vo}ne null?${much==2500}:''">1900-2500/月</option>
                <option value="4000" id="m4000" th:selected="${vo}ne null?${much==4000}:''">2500-4000/月</option>
                <option value="4800" id="m4800" th:selected="${vo}ne null?${much==4800}:''">4000-4800/月</option>
                <option value="4801" id="m4801" th:selected="${vo}ne null?${much==4801}:''">4800以上/月</option>
            </select>
                <button type="button" id="search" name="search" value="查找" onclick="search1()">
                    查找
                </button>
            </td>
            <td class="ta_01" align="right">
                <button type="button" id="add" name="add" value="添加" class="button_add" onclick="addHouse()">
                    &#28155;&#21152;
                </button>

            </td>
        </tr>
        <tr>
            <td class="ta_01" align="center" bgColor="#f5fafe" colspan="2">
                <table cellspacing="0" cellpadding="1" rules="all"
                       bordercolor="gray" border="1" id="DataGrid1"
                       style="BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; WIDTH: 100%; WORD-BREAK: break-all; BORDER-BOTTOM: gray 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f5fafe; WORD-WRAP: break-word">
                    <tr
                            style="FONT-WEIGHT: bold; FONT-SIZE: 12pt; HEIGHT: 25px; BACKGROUND-COLOR: #afd1f3">

                        <td align="center" width="3%">
                            序号
                        </td>
                        <td align="center" width="5%">
                            房屋ID
                        </td>
                        <td align="center" width="5%">
                            房间ID
                        </td>
                        <td align="center" width="13%">
                            房屋图片
                        </td>
                        <td align="center" width="13%">
                            房屋位置
                        </td>
                        <td align="center" width="13%">
                            房屋价格
                        </td>
                        <td align="center" width="13%">
                            房屋种类
                        </td>
                        <td width="3%" align="center">
                            种类
                        </td>
                        <td width="3%" align="center">
                            房间号
                        </td>
                        <td width="7%" align="center">
                            状态
                        </td>
                        <td width="6%" align="center">
                            编辑
                        </td>
                        <td width="6%" align="center">
                            下架
                        </td>
                    </tr>
                    <tr onmouseover="this.style.backgroundColor = 'white'"
                        onmouseout="this.style.backgroundColor = '#F5FAFE';" th:each="bed,status:${pagemodel.list}">
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="3%">
                            [[${status.count}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="5%">
                            [[${bed.houses.hid}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="5%">
                            [[${bed.bid}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="13%">
                            <img width="40" height="45" th:src="'/House'+${bed.houses.images}+'1.jpg'">
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="13%">
                            [[${bed.houses.location}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="13%">
                            [[${bed.price}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="13%">
                            [[${bed.houses.roomtype}]]
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="3%" th:text="${bed.houses.livetype}==0?'整租':'合租'">
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="3%" th:text="${bed.houses.livetype}==1?${bed.number}:'/'">
                        </td>
                        <td style="CURSOR: hand; HEIGHT: 22px" align="center"
                            width="13%" th:text="${bed.state}==0?'待出租':(${bed.state}==1?'已出租':'待付款')">
                        </td>
                        <td align="center" style="HEIGHT: 22px">
                            <a th:href="@{'adminedithouse&bid='+${bed.bid}} ">
                                <img th:src="@{assets/images/admin/img/admin/i_edit.gif}" border="0"
                                     style="CURSOR: hand">
                            </a>
                        </td>

                        <td align="center" style="HEIGHT: 22px">
                            <a href="#"
                               th:attr="dele_uri='adminclearhouse&bid='+${bed.bid},dele_location=${bed.houses.location+'房屋'}"
                               name="deleee">
                                <img th:src="@{assets/images/admin/img/admin/i_del.gif}" name="dele" width="16"
                                     height="16" border="0" style="CURSOR: hand">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </TBODY>
    </table>
</form>

<div th:if="${pagemodel.list}eq null">
    <br/><br/><br/><br/>
    <p style="text-align: center;color: red;font-size: xx-large">没有符合的房屋</p>
</div>
<div style="text-align:center" th:if="${pagemodel.list}ne null">
    第[[${pagemodel.currentPageNum}]]页/共[[${pagemodel.totalPageNum}]]页

    <a th:href="@{${pagemodel.url}+'1'}">首页</a>
    <a th:href="@{${pagemodel.url}+${pagemodel.prePageNum}}">上一页</a>
    <a th:href="${pagemodel.url}+${n}" th:each="n:${#numbers.sequence(pagemodel.startPage,pagemodel.endPage)}">[[${n}]]&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a th:href="@{${pagemodel.url}+${pagemodel.nextPageNum}}">下一页</a>
    <a th:href="@{${pagemodel.url}+${pagemodel.totalPageNum}}">末页</a>
    <input type="text" id="pagenum" name="pagenum" size="1"/><input type="button" value="前往" onclick="jump()"/>
    <script type="text/javascript">
        function jump() {
            var totalpage = [[${pagemodel.totalPageNum}]];
            var pagenum = document.getElementById("pagenum").value;
            //判断输入的是一个数字
            var reg = /^[1-9][0-9]{0,1}$/;
            if (!reg.test(pagenum)) {
                //不是一个有效数字
                alert("请输入符合规定的数字");
                return;
            }
            //判断输入的数字不能大于总页数
            if (parseInt(pagenum) > parseInt(totalpage)) {
                //超过了总页数
                alert("不能大于总页数");
                return;
            }
            //转向分页显示的Servlet
            // alert(pagenum);
            window.location.href = "/House/adminHouseManger&page=" + pagenum;
        }

        function addHouse() {
            window.location.href = "/House/adminaddBednumber";
        }
    </script>
</div>
</body>
<script src="assets/js/jquery-1.11.0.js" th:src="@{/assets/js/jquery-1.11.0.js}"></script>
<script src="assets/js/jquery-1.11.0.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script>
    function search1() {
        var location = $("#location").val();
        var hid = $("#hid").val();
        var state = $("#state").val();
        var much = $("#much").val();
        window.location.href = "/House/adminhousesearch&hid=" + hid + "&location=" + location + "&state=" + state + "&much=" + much + "&page=" + [[${pagemodel.currentPageNum}]];
    }

    $("[name='deleee']").click(function () {
        if (confirm("是否确定删除" + $(this).attr("dele_location"))) {
            window.location.href = "/House/" + $(this).attr("dele_uri");
        }
    })
</script>
</HTML>

